.box-1{
    position: relative;
    top: 50px;
    background-color: lightskyblue;
    height: auto;

}
.box-2{
    border-radius: 5px;
    font-size: 2em;
    padding-top: 4px;
    height: 50px;
    position: relative;
    text-align: right;
    margin-bottom: 10px;
    background-color: white;
}
.btn-size{
    font-size: 1.8em;
    margin-right: 20px
}
.btn-size1{
    font-size: 2em;
    margin-right: 11px;
    padding: 5px 15px 5px 15px;
}
.box-3{
    position: relative;
    padding-bottom: 10px
    
}
.box-4{
    padding-bottom: 10px
}