body{
	padding:0px;
	margin:0px;
	background:#DCDCDC;
}
div,p,h1,table,img,ul,li,table,th,td{
	padding:0px;
    margin:0px;
}
/*--------------------------------------Container for header------------------------------------------------------*/
.header{
	position: relative;
	width:100%;
	height:auto;
	background-color:rgba(43,174,192,0.7);
	box-shadow: 0px 10px 12px gray;
	/*border: 2px solid red;*/
	z-index: 9;
	padding-top: 5px;
	
}
.logo-1{
	width: 17%;
	height: 45px;
	/*border: 2px solid blue;*/
	margin-left: 40px
}
.logo{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2.5em;
	color: darkslateblue;
	text-shadow: 1px 2px 2px white;
	
}
.header2{
	width:80%;
	border-collapse: separate;
    border-spacing: 0px 0px;
	vertical-align: none;
	margin: 0px auto 0px auto;
}
#wel{
	width:40%;
	/*border: 2px solid green;*/
	text-align: left;
	vertical-align: bottom;
}
.welcome{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3.2em;
	text-shadow: 7px 5px 7px gray;
	color: white; 
}
.text1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 3em;
	text-shadow: 7px 5px 7px gray;
	color: white;
	margin-left: 140px;
}
.image-box{
	width:28%;
	/*border: 2px solid green;*/
	text-align: right;
}
.image1{
	width:100%;
	height:200px;
}
.list-box{
	clear:left;
	width:95%;
	height: auto;
	/*border: 2px solid red;*/
	margin:0px auto 0px auto;
}
.li{
	display: inline-block;
	/*border: 2px solid red;*/
	padding: 10px 0px 10px 0px;
	margin-left:10px;
	margin-top: 5px;
	
}
.link1 {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.3em;
	color: black;
	font-weight: bold;
	text-shadow: 0px 2px 3px gray;
	padding: 7px 20px 7px 20px;
	
}
.link1:hover{
	color: white;
	text-shadow: 0px 2px 3px gray;
	border-bottom: 4px solid white;
	transition: 0.4s;
	
}
/*-------------------------------------------Container1 for content----------------------------------------------*/
.container{
	width:50%;
	height: auto;
	/*border: 2px solid blue;*/
	margin: 40px auto 0px auto;
}
.link-containe{
	border-collapse: separate;
    border-spacing: 20px 10px;
}
.image-refrance1{
	width:70%;
	vertical-align: middle;
	padding: 10px;
	box-shadow: 0px 1px 1px 1px gray;
	border-radius: 8px;
}
.image-refrance1:hover{
	box-shadow: 0px 3px 3px 3px gray;
	transition: 0.3s;
}
.image-refrance2{
	width:70%;
	vertical-align: middle;
	padding: 10px;
	box-shadow: 0px 1px 1px 1px gray;
	border-radius: 8px;
}
.image-refrance2:hover{
	box-shadow: 0px 3px 3px 3px gray;
	transition: 0.3s;
}
.image-refrance3{
	width:70%;
	vertical-align: middle;
	padding: 10px;
	box-shadow: 0px 1px 1px 1px gray;
	border-radius: 8px;
}
.image-refrance3:hover{
	box-shadow: 0px 3px 3px 3px gray;
	transition: 0.3s;
}
.refrance1{
	text-align: center;
	width:18%;
	height: auto;
	/*border: 2px solid blue;*/
	padding-bottom: 20px;
}
.refrance2{
	text-align: center;
	width:18%;
	height: auto;
	/*border: 2px solid blue;*/
	padding-bottom: 20px;
}
.refrance3{
	text-align: center;
	width:18%;
	height: auto;
	/*border: 2px solid blue;*/
	padding-bottom: 20px;
}
/*-----------------------------------Container for Footer-------------------------------------------------------*/
.footer-container{
	width:100%;
	height:auto;
	/*border: 2px solid orange;*/
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: gray;
	margin-top:40px;
}
.child-container{
	padding-top: 8px;;
	width:96%;
	height:auto;
	/*border: 2px solid orange;*/
	margin: 0px auto 0px auto;
	font-family: Arial, Helvetica, sans-serif;
	 background-color: grey;
}
.footer1{
	padding: 15px;
	width: 25%;
	height: auto;
	text-align: justify;
	border-right: 1px solid white;
	/*border: 2px solid orange;*/
}
.footer-heading{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 1.6em;
	text-shadow: 0px 2px 3px gray;
	border-bottom: 1px solid white;
	color: white;
}
.footer-text1{
	font-size: 0.9em;
	color: white;
}
.footer2{
	padding: 15px;
	width: 25%;
	height: auto;
	text-align: justify;
	border-right: 1px solid white;
	/*border: 2px solid orange;*/
}
.footer2 li{
	display: block;
	border-bottom: 1px solid white;
}
.footer-link{
	padding-top: 5px;
	padding-bottom: 5px;
	text-decoration: none;
	color:white;
	font-weight: bold;
	line-height: 25px;
	text-shadow: 0px 1px 2px gray;
}
.footer-link:hover{
	color:darkblue;
	transition: 0.3s;
}
.footer3{
	padding: 15px;
	width: 30%;
	height: auto;
	vertical-align: top;
	text-align: right;
	/*border: 2px solid orange;*/
}
.footer3 a{
	margin:6px;
}
.footer-images1{
	width:40px;
	border-radius: 10px;
}
.footer-images1:hover{
	box-shadow: 0px 2px 2px 2px #3366FF;
}
.footer-images2{
	width:40px;
	border-radius: 10px;
}
.footer-images2:hover{
	box-shadow: 0px 2px 2px 2px darkred;
}
.footer-images3{
	width:40px;
	border-radius: 10px;
}
.footer-images3:hover{
	box-shadow: 0px 2px 2px 2px skyblue;
}