body{
	background-color:#B0E0E6;
}
#form1{
	text-align:center;
	width:50%;
	height:30px;
	border:2px 2px 2px;
	margin:10px;
	padding:2px;
	font-size:20px;
}

#form2{
	border-radius:2px 2px 2px;
}
#button1{
	background:#B0E0E6;
	border-radius:10px;
	font-size:20px;
	border: 2px solid #F5F5DC;
	padding:5px;
	margin: 5px;
	box-shadow: 1px 1px 1px #888888;
}
#text{
	border-radius:7px;
	font-size:15px;
	border: 2px solid #F5F5DC;
	padding:5px;
	margin: 5px;
	box-shadow: 1px 1px 1px #888888;
}