body,img{
    margin: 0px;
    padding: 0px;
    
}
.parent{
    width: 90%;
    height: auto; 
    /*border: 2px solid red;*/
    margin: 0px auto 0px auto; 
    background-color: lightskyblue;
    box-shadow: 0px 3px 4px lightgray;
    border-radius: 5px;
padding-top:15px;
}
.logo{
    width: 95%;
    height: auto;
     /*border: 2px solid green;*/
    margin: 0px auto 0px auto;   
}
.image-logo{
    width: 55%;
height:130px;
}
.text1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: gray;
    text-align: right;
}
.text2{
    font-size:1.2em;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: 0px auto 0px auto;
}
.container1{
    width: 95%;
    height: auto;
    /*border: 2px solid green;*/
    margin: 0px auto 0px auto;
    background-color: lightsteelblue;
    padding: 5px;
    border-radius:8px;
}
.heading1{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
.text3{
    font-size:1.1em;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container2{
     width: 95%;
    height: auto;
    /*border: 2px solid green;*/
    margin: 15px auto 0px auto;
    background-color: white;
    padding: 5px;
    border-radius:8px;
}
.heading3{
    font-size:1.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    margin-left: 15px;
text-shadow:0px 3px 4px gray; 
}
.image1{
    width: 350px;
    height: 400px;

}
a{
    text-decoration: none;
    color:red;
    font-style: italic;
}
.button1{
    margin-left: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    background-color: lightblue;
    outline: 0px;
    border:0px;
    border:2px solid lightgray;
}
.button1:hover{
    background-color: lightskyblue;
    cursor: pointer;
    transition:0.3s;
}
.text4{ 
    margin-left: 18px;
     font-size:1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
.image2{
    width: 350px;
    height: 250px;

}
.copy{
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}