body{
	margin:0px;
	padding:0px;
	background-color:#E6E6FA;
}
.header{
	margin-left:6em;
	margin-top:0em;
	padding:0em;
	width:85%;
	height:100%;
	background-color:#F0F8FF;
}
.header2{
	margin-left:0.9em;
	margin-top:0em;
	padding:0em;
	width:97.5%;
	height:13em;
	background-color:#008080;
	box-shadow: 0px 5px 6px gray;
}
#sky{
	position:relative;
	top:0.5em;
	left:1em;
	font-size:3em;
	color:white;
	padding:0em;
	width:20%;
	font-family:arial,vardana;
}
#list li{
    position: relative;
    top:3em;
    margin:0.5em;
    padding: 0px;
    display: inline;
    font-size:120%;
}
#a{
    text-decoration: none;
    color:#b3ffff;
    transition: all 1s;
	cursor:pointer;
}
.header #list a:hover{
    font-size:1.5em;
	color:black;
}
.box{
	position:static;
	margin-left:1.7em;
	margin-top:1.5em;
	padding:0em;
	width:60%;
	height:91.5%;
	background:#F0F8FF;
	box-shadow: 1px 1px 0px gray;
}
#img1{
	width:93%;
	height:12%;
	position:relative;
	top:1em;
	left:1em;
	box-shadow: 0px 5px 5px gray;
}
.cont{
	margin-top:2em;
	margin-left:1em;
	margin-right:2em;
}
#sub{
	position:relative;
	left:65%;
	top:6em;
}
.subscribe{
	position:absolute;
	background-color:rgb(143,232,232);
	width:30%;
	height:1em;
	border:2px solid gray;
	box-shadow: 0px 3px 3px gray;
	padding:0.5em;
	border-radius:0.5em;
}
.email{
	position:absolute;
	top:2.5em;
	padding:1em;
	
}
.input1{
	width:110%;
	height:2em;
	font-size:1em;
}
#subs{
	background-color:#00CED1;
	width:40%;
	height:2.5em;
	color:black;
	font-weight:bold;
	border-radius:0.5em;
	cursor:pointer;
}
#comments{
	width:90%;
	height:10em;
	background-color:#FFEFD5;
	font-size:15px;
	font-family:arial;
}
#text1{
	width:40%;
	height:2em;
}
.post{
	position:relative;
	left:70%;
	width:21%;
	height:2.5em;
	font-family:arial;
	background:#00CED1;
	color:black;
	font-weight:bold;
	border-radius:0.5em;
	cursor:pointer;
}
.footer1{
	position:static;
	width:100%;
	height:20em;
	background-color:#004d4d;
	color:white;
	font-family: inherit;
}
#footer-about{
	padding-left:3em;
	padding-top:2.5em;
	font-size:1.2em;
	width:15em;
	text-align:left;
	line-height:0.5em;
	
}
#footer-ab{
	padding-left:3.5em;
	margin-top:1em;
	text-align:left;
	vertical-align: text-top;
}
#footer-pa{
	padding-left:3.5em;
	margin-top:1em;
}
#footer-page{
	padding-left:3em;
	padding-top:2.5em;
	font-size:1.2em;
	width:15em;
	text-align:left;
	line-height:0.5em;
	
}
#footer-a{
	padding-left:3em;
	padding-top:2.5em;
	padding-right:1em;
	font-size:1.2em;
	width:15em;
	text-align:right;
	line-height:0.5em;
	
}
#footer-c{
	text-align:right;
	padding-left:4em;
}
td a{
	text-decoration:none;
	color:white;
}
#searchbar{
	position:relative;
	left:47em;
	border: 1px solid #000000;
	border-right:none;
	font-size: 1em;
	padding:0.6em;
	background:#87CEFA;
	outline:none;
	width:16em;
	-webkit-border-top-left-radius: 0.5em;
	-webkit-border-bottom-left-radius: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}
#searchbtn{
	position:relative;
	left:47em;
	border: 1px solid #000000;
	font-size: 1em;
	padding:0.6em;
	background:#87CEFA;
	font-weight: bold;
	cursor:pointer;
	outline:none;
	-webkit-border-top-right-radius: 0.5em;
	-webkit-border-bottom-right-radius: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}
