body{
    margin: 0px;
    padding: 0px;
}
.background-container{
    position: fixed;
    width: 100%;
    height: 660px;
    background-image: url("images/1.png");
    background-repeat: no-repeat;
    background-repeat: cover;
    background-size: 100% 660px;
    z-index: -1;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.child-container{
    position: relative;
    top: 80px;
    width: 80%;
    height: 500px;
    margin: 0px auto 0px auto;
    /*border: 2px solid red;*/
    z-index: 2;
    min-width: 80%;
    
}
.heading{
    text-align: center;
}
.main-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: white;
    font-weight: bold;
    text-align: center;
}
.Employee{
    /*border:1px solid white;*/
    margin-top: 15px;
}
.table-heading{
    background-color: rgba(25,225,155,0.4);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

td{
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    padding: 10px 15px 10px 4px;
    border-bottom: 1px solid gray;
    background-color: rgba(25,25,25,0.5);
}
.g-r-no{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    padding: 7px 0px 7px 0px;
}
.check:hover{
    background-color: lightskyblue;
    color: black;
    cursor: pointer;
}
.date1{
    text-align: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    padding: 7px 4px 7px 0px;
}
.salary{
    text-align: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    padding: 7px 4px 7px 0px;
}
.edit{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.9em;
    padding: 7px 0px 7px 0px;
}
td > a{
    text-decoration: none;
    color: white;
    border: 1px solid darkseagreen;
    background-color: lightseagreen;
    padding: 6px 10px 6px 10px;
    border-radius: 3px;
    font-weight: bold;
}
td > a:hover{
    background-color: #00FFFF;
    transition: 0.3s;
    color: darkslategray;
    border: 1px solid lightseagreen;
}